<div class="container-fluid">
<div class="row">
  <div class="heading space-div">
    For all you orders here
    </div>
 </div>

<div class="row">
    <div class="col-sm-3">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      alt="Generic placeholder image" width="90%" height="140">
      <h2>Livers & Casa Pap</h2>
      <p>Starter Livers & Single Casa Pap (No swop outs)</p>

      <div><strong>Price:</strong> R29.</div>
      <button type="button" class="btn btn-default">order</button>

    </div>
    <div class="row subtext"  >
    </div>
    <div class="col-sm-6">
      <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      alt="Generic placeholder image" width="90%" height="140">
      <h2>Livers & Casa Pap</h2>
      <p>Starter Livers & Single Casa Pap (No swop outs)</p>
      <div><strong>Price:</strong> R29.</div>
    </div>
    <div class="col-sm-3">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      alt="Generic placeholder image" width="90%" height="140">
      <h2>Livers & Casa Pap</h2>
      <p>Starter Livers & Single Casa Pap (No swop outs)</p>
      <div><strong>Price:</strong> R29.</div>
    </div>

  </div>

 </div>

<!--<div class="row">
  </div>

<div class="row">
       <div class="clearfix visible-xs"></div>
        <div class="col-xs-4 col-sm-2 text-center">
          <img src="http://lorempixel.com/120/120" class="img-responsive img-circle img-thumbnail" />
          <br /><strong>First option</strong>
        </div>
</div>
       <div class="row">
        <div class="col-xs-4 col-sm-2 text-center">
          <img src="http://lorempixel.com/120/120" class="img-responsive img-circle img-thumbnail" />
          <br /><strong>Here goes another</strong>
        </div>
        </div>

        <div class="row">
        <div class="col-xs-4 col-sm-2 text-center">
          <img src="http://lorempixel.com/120/120" class="img-responsive img-circle img-thumbnail" />
          <br /><strong>And yet one more to pick</strong>
        </div>
         </div>-->





