<div class="container-fluid">
  <div class="row">
    <div class="heading space-div header-global">
      <div class="thing back" (click)="onBackClicked()">
        <i class="material-icons" style="font-size: 34px">arrow_back</i>
      </div>
      <span class="space-div text-fonts ">For all your orders here</span>
      <img (click)="cartProceed()" src="../../../../assets/Shopping-cart-icon.png" class="img-thumbnail image-size" alt="Generic placeholder image"
      /> {{totalQuantity}}
    </div>
  </div>
  <div class="row">
    <div class="container-fluid"></div>
    <div class="col-sm-3" *ngFor="let menu of menus | async">
      <div><img [src]="menu.image" class="img-thumbnail" alt="Generic placeholder image" /></div>
      <h2>{{ menu.name}}</h2>
      <p class="text-muted">{{menu.description}}</p>
      <p class="text-muted"><strong>{{menu.rand}}</strong><strong>{{menu.price}}</strong></p>
      <div id="#add-to-cart" class="button-global  btn btn-lg btn-primary" (click)="addToCart(menu)">Add to cart</div>
    </div>
    <div class="row subtext">
    </div>
  </div>
</div>
