<div class="container">
<div class="row">
  <div class="heading space-div">
    Menu Catagories
    </div>
 </div>

<section class="section-holder">
  <article>
    <div class="lead-text">Choose a category</div>
  </article>
  <section class="text" *ngFor="let item of items | async">
    <article class="catagories-item" [ngStyle]="{background: 'url('+item.image+') no-repeat center'}">
      <section (click)="selectCategories()" class="name">
        {{item.name}}
      </section>
    </article>
  </section>
</section>
</div>
