<div class="container">
  <div class="row">
    <div class="heading space-div header-global">
      <div class="logo" style="margin-top:7px">
        <i class="material-icons" style="font-size:30px;">restaurant</i></div>
    </div>
  </div>
  <div class="row">
    <section class="section-holder">
      <article>
        <div class="lead-text">Welcome to our Restuarant</div>
      </article>
      <article>
        <div class="subtext">We do it right!</div>
      </article>
      <div id=#place-order class="button-global  btn btn-lg btn-primary" (click)="placeOrder()">Place an Order</div>
      <article>
        <div class="global-comment-text">By clicking contiue, you accept our terms of service</div>
      </article>
    </section>
  </div>
</div>