<div class="container">
  <div class="row">
    <div class="heading space-div header-global ">
      <div class="logo" style="margin-top:7px">
        <i class="material-icons" style="font-size:30px;">restaurant</i></div>
    </div>
  </div>

  <div class="modal-content">
    <div class="modal-header complete-height">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title ">Thank you for your order</h4>
    </div>
    <div class="modal-body">
      <p><strong>Oh! Yeah!!</strong></p>
      <p>Thank for sending your order, your food wil be coming soon!!!</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="button-global  btn btn-lg btn-primary text-center space-margin" data-dismiss="modal" (click)="closeButton()">Close</button>
    </div>
  </div>

</div>
